.userEmailStyling {
  color: #7e98df;
  align-items: center;
}

.leftMenu {
  overflow-y: auto;
}

.smallerFormControl {
  height: 25px;
}

.profilePictureStyling {
  height: 84px;
  width: 84px;
  border-radius: 20px;
  object-fit: cover;
}

.chatRoomStyling {
  background-color: #fafafa;
  position: relative;
}

.shownDot {
  height: auto;
}

.hiddenDot {
  visibility: hidden;
}

.lowerIcons {
  margin-right: 10px;
}
