.userEmailStyling {
  color: #7e98df;
  align-items: center;
}

.leftMenu {
  overflow-y: auto;
}

.smallerFormControl {
  height: 25px;
}

.profilePictureStyling {
  height: 84px;
  width: 84px;
  border-radius: 20px;
  object-fit: cover;
}

.changePasswordModalStyling {
  width: 509px;
}

.chatRoomStyling {
  background-color: #fafafa;
  position: relative;
}

.shownDot {
  height: auto;
}

.hiddenDot {
  visibility: hidden;
}

.lowerIcons {
  margin-right: 10px;
}

/* UPDATE IMAGE FORM STYLING */
.boxUpdateImage {
  background-color: transparent;
  color: transparent;
  height: 84px;
  width: 84px;
  position: absolute;
  border-radius: 20px;
  left: 0;
  right: 0;
  visibility: visible;
  cursor: pointer;
}

.updateImageInputStyling {
  background-color: rgba(46, 31, 182, 0.6);
  width: 84px;
  height: 84px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 20px;
  visibility: hidden;
  cursor: pointer;
}
/* UPDATE IMAGE FORM STYLING */
