.overflowTextParent {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profilePictureStyling {
  height: 64px;
  width: 64px;
  border-radius: 20px;
  object-fit: cover;
}

.topFormControl {
  border-radius: 15px;
}

.roomUserStyling {
  margin-left: 6px;
  margin-right: 6px;
}
