.profilePictureStyling {
  height: 64px;
  width: 64px;
  border-radius: 20px;
  object-fit: cover;
}

.topFormControl {
  border-radius: 15px;
}

.roomUserStyling {
  margin-left: 6px;
  margin-right: 6px;
}
